
* {
  margin:0;
  padding:0;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: #FF9636;
  background-repeat:no-repeat;
  background-size: 100%;
  
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kontrola{
  display: flex;
  align-items: center;
  flex-direction: column;
}
input {
  margin-top:5%;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.inputSadrzaj{
  margin-top: 5%;
}
.kontrola {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Obroci{
  width:90%;
  display:flex;
}
article {
  flex:3;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 1rem;
  max-width: 300px;
  box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
}

/*------------GLAVNO DUGME-------------*/
#trazi{
  margin-left:15px;
  background-color: #0A4158; 
  border: none;
  color: #E4D7D0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
 
#trazi:hover {
  color:#0A4158;
  background-color:#FF9636 ;
}

/*--------------------------------------*/

